In [1]:
import os;
import locale;
import sys;

from collections import defaultdict

import pandas as pd
import matplotlib.pyplot as plt
import requests

#from pattern import web

from bs4 import BeautifulSoup
from bs4 import UnicodeDammit
%matplotlib inline
import time 
import random
from tqdm import tqdm_notebook as tqdm
from line_profiler import LineProfiler

In [2]:
HEADER = {'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/51.0.2704.79 Chrome/51.0.2704.79 Safari/537.36'}
#PROXY = {"https": "http': 'http://10.10.1.10:3128"}
PROXY = {"https": "http': 'http:/178.88.119.150"}

# Parse soup to get all the state's url
def get_state_urls(soup):
    state_urls = []
    states = []
    for col in soup.find_all("ul", class_='tab-list tab-list-short'):
        for state in col.find_all('a'):
            state_urls.append(state.get('href')) 
            states.append(state.text)
    state_urls.remove('http://www.city-data.com/smallTowns.html')
    states.remove('small')
    return state_urls, states

# Request html with proxy and headers in mind
def request_soup(link):
    website_html = requests.get(link, proxies = PROXY, headers = HEADER)
    soup = BeautifulSoup(website_html.text, 'html.parser')
    return soup

# Parse soup to get all the city's url
def get_cities_url(city_urls, cities, state_soup):
    
    table = state_soup.find("table", {'class' : "tabBlue tblsort tblsticky"}).tbody
    state_data = table.find_all("tr", class_ = "rB")
    
    for row in state_data:
        city_urls.append('http://www.city-data.com/city/' + row.find('a').get('href'))
        cities.extend(row.find('a').contents)
        #cur_population.append(row.find_all('td')[-1].text)
    
    return city_urls, cities

# Parse soup to get data of a city
def parse_city(features_dict, city_soup, city, state):
    
    attributes = []
    values = []
    
    # Adding city name
    attributes.append("City:")
    values.append(city)

    # Adding recorded population
    attributes.append("Population" if city_soup.find("section", class_ = "city-population") else "")
    values.append(city_soup.find("section", class_ = "city-population").find('b').next_sibling if city_soup.find("section", class_ = "city-population") else "")

    # Adding population by sex
    attributes.extend([a.text for a in city_soup.find("section", class_ = "population-by-sex").find_all('b')])
    values.extend([v.next_sibling.string.replace('\xa0',"") for v in city_soup.find("section", class_ = "population-by-sex").find_all('b')])

    # Adding population by sex
    attributes.append("Males:" if city_soup.find("section", class_ = "median-age") else "")
    attributes.append("Females:" if city_soup.find("section", class_ = "median-age") else "")
    tmp_data = [v.text.replace('\xa0',"") for v in city_soup.find("section", class_ = "median-age").find_all('td')]
    values.append(tmp_data[1])
    values.append(tmp_data[3])

    # Adding median income
    attributes.append("Median Income" if city_soup.find("section", class_ = "median-income") else "")
    values.append(city_soup.find("section", class_ = "median-income").find('b').next_sibling.string.replace("(","") if city_soup.find("section", class_ = "median-income") else "")

    attributes.append("Estimated median house or condo value in 2016:")
    values.append(city_soup.find("section", class_ = "median-income").find("b", string = "Estimated median house or condo value in 2016:").next_sibling.replace('(',"") if city_soup.find("section", class_ = "median-income") else "")

    attributes.append("Estimated median house or condo value in 2016:")
    values.append(city_soup.find("section", class_ = "median-income").find("b", string = "Estimated median house or condo value in 2016:").next_sibling.replace('(',"") if city_soup.find("section", class_ = "median-income") else "")

    # Adding elevation
    attributes.append("Elevation" if city_soup.find("section", class_ = "elevation") else "")
    values.append(city_soup.find("section", class_ = "elevation").find('b').next_sibling if city_soup.find("section", class_ = "elevation") else "")

    # Adding population density
    attributes.append(city_soup.find("section", class_ = "population-density").find('b').text if city_soup.find("section", class_ = "population-density") else "")
    values.append(city_soup.find("section", class_ = "population-density").find('b').next_sibling if city_soup.find("section", class_ = "population-density") else "")

    attributes.append(city_soup.find("section", class_ = "population-density").find_all('b')[2].text if city_soup.find("section", class_ = "population-density") else "")
    values.append(city_soup.find("section", class_ = "population-density").find_all('b')[2].next_sibling if city_soup.find("section", class_ = "population-density") else "")

    # Adding cost of living
    attributes.append("Mar. 2016 cost of living index: " if city_soup.find("section", class_ = "cost-of-living-index") else "")
    values.append(city_soup.find("section", class_ = "cost-of-living-index").find('b').next_sibling if city_soup.find("section", class_ = "cost-of-living-index") else "")

    features_dict = dict(zip(attributes,values))

    return features_dict

In [8]:
##### MAIN ######

def _init():
    HEADER = {"User-Agent": "Mozilla/5.0 (Windows; U; Windows NT 5.1; en-US; rv:1.9.2.8) Gecko/20100722 Firefox/3.6.8 GTB7.1 (.NET CLR 3.5.30729)"}
    #PROXY = {"https": "https//59.110.7.190:1080"}
    PROXY = {"https": "https//178.88.119.150"}
    #url = "http://www.city-data.com/"
    url = 'http://www.city-data.com/indexes/cities/?fbclid=IwAR1LvY4RZUePzl9FkAP8Yv6W88cwA81G6gFFPLCx-xXFv5El0lBR6UHFPFo'
    website_html = requests.get(url, proxies = PROXY, headers = HEADER, verify = False)
    soup = BeautifulSoup(website_html.text, 'html.parser')

    state_urls, states = get_state_urls(soup)

    return state_urls, states

state_urls, states = _init()

In [9]:
print(states)

['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [12]:
all_cities_feature_dicts = []
state_feature_dicts = []
def scrape(state_urls, states):
    for state_idx in tqdm(range(2)):
        state_feature_dicts = []
        state_soup = request_soup(state_urls[state_idx])
        time.sleep(random.randint(2,6)) # in seconds 

        city_urls, cities = get_cities_url([], [], state_soup)

        for city_idx in tqdm(range(len(cities))):
            print('Parsing for city: ', city_urls[city_idx])
            city_soup = request_soup(city_urls[city_idx])
            time.sleep(random.randint(1,10)) # in seconds 
            feature_dict = parse_city({},
                                      city_soup,
                                      cities[city_idx],
                                      states[state_idx])
            if "" in feature_dict: del feature_dict[""]
            all_cities_feature_dicts.append(feature_dict)
            state_feature_dicts.append(feature_dict)
        df = pd.DataFrame.from_dict(state_feature_dicts)
        df.to_csv(states[state_idx] + ".csv")
        
    return all_cities_feature_dicts

In [13]:
all_city_feature_dicts = scrape(state_urls[49:], states[49:])

HBox(children=(IntProgress(value=0, max=2), HTML(value='')))

HBox(children=(IntProgress(value=0, max=29), HTML(value='')))

Parsing for city:  http://www.city-data.com/city/Beckley-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Bluefield-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Bridgeport-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Charleston-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Cheat-Lake-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Clarksburg-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Cross-Lanes-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Dunbar-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Elkins-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Fairmont-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Huntington-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Hurricane-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Kabletown-district-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Martinsburg-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Middletown-district-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Morgantown-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Moundsville-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Nitro-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Oak-Hill-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Parkersburg-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Pea-Ridge-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Princeton-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Shepherdstown-district-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/South-Charleston-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/St.-Albans-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Teays-Valley-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Vienna-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Weirton-West-Virginia.html
Parsing for city:  http://www.city-data.com/city/Wheeling-West-Virginia.html

HBox(children=(IntProgress(value=0, max=19), HTML(value='')))

Parsing for city:  http://www.city-data.com/city/Bridger-Valley-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Casper-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Cheyenne-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Cody-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Douglas-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Evanston-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Gillette-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Green-River-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Jackson-Hole-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Jackson-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Lander-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Laramie-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Powell-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Rawlins-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Riverton-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Rock-Springs-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Sheridan-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Torrington-Wyoming.html
Parsing for city:  http://www.city-data.com/city/Wind-River-Wyoming.html

### Code Profiling

In [64]:
def test_one_state():
    city_feature_list = []
    feature_dict = scrape(state_urls, states)
    city_feature_list.append(feature_dict)
    time.sleep(random.randint(1,10))

In [65]:
lp = LineProfiler()
lp_wrapper =lp(test_one_state)

In [66]:
lp.add_function(scrape)

In [69]:
result = lp_wrapper()

HBox(children=(IntProgress(value=0, max=18), HTML(value='')))

Parsing for city:  http://www.city-data.com/city/Anchorage-Alaska.html
Parsing for city:  http://www.city-data.com/city/Badger-Alaska.html
Parsing for city:  http://www.city-data.com/city/Bethel-Alaska.html
Parsing for city:  http://www.city-data.com/city/College-Alaska.html
Parsing for city:  http://www.city-data.com/city/Fairbanks-Alaska.html
Parsing for city:  http://www.city-data.com/city/Juneau-Alaska.html
Parsing for city:  http://www.city-data.com/city/Kalifornsky-Alaska.html
Parsing for city:  http://www.city-data.com/city/Kenai-Alaska.html
Parsing for city:  http://www.city-data.com/city/Ketchikan-Alaska.html
Parsing for city:  http://www.city-data.com/city/Knik-Fairview-Alaska.html
Parsing for city:  http://www.city-data.com/city/Kodiak-Alaska.html
Parsing for city:  http://www.city-data.com/city/Lakes-Alaska.html
Parsing for city:  http://www.city-data.com/city/Meadow-Lakes-Alaska.html
Parsing for city:  http://www.city-data.com/city/Palmer-Alaska.html
Parsing for city:  http://www.city-data.com/city/Sitka-Alaska.html
Parsing for city:  http://www.city-data.com/city/Steele-Creek-Alaska.html
Parsing for city:  http://www.city-data.com/city/Tanaina-Alaska.html
Parsing for city:  http://www.city-data.com/city/Wasilla-Alaska.html

In [70]:
lp.print_stats()

Timer unit: 1e-06 s

Total time: 107.629 s
File: <ipython-input-63-19f331831764>
Function: scrape at line 3

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     3                                           def scrape(state_urls, states):
     4         2          5.0      2.5      0.0      for state_idx in range(1):
     5         1    1532152.0 1532152.0      1.4          state_soup = request_soup(state_urls[state_idx])
     6         1    2002113.0 2002113.0      1.9          time.sleep(random.randint(2,6)) # in seconds
     7
     8         1      54959.0  54959.0      0.1          city_urls, cities = get_cities_url([], [], state_soup)
     9
    10        19         14.0      0.7      0.0          for city_idx in range(len(cities)):
    11        18       2594.0    144.1      0.0              print('Parsing for city: ', city_urls[city_idx])
    12        18   28921165.0 1606731.4     26.9              city_soup = request_soup(city_urls[city_idx])
    13        18   60062364.0 3336798.0     55.8              time.sleep(random.randint(2,6)) # in seconds
    14        18        178.0      9.9      0.0              feature_dict = parse_city({},
    15        18         24.0      1.3      0.0                                         city_soup,
    16        18         48.0      2.7      0.0                                         cities[city_idx],
    17        18   15053570.0 836309.4     14.0                                         states[state_idx])
    18        18         36.0      2.0      0.0              if "" in feature_dict: del feature_dict[""]
    19        18         20.0      1.1      0.0              city_feature_dicts.append(feature_dict)
    20         1          0.0      0.0      0.0      return city_feature_dicts

Total time: 240.341 s
File: <ipython-input-64-5a48ae31a417>
Function: test_one_state at line 1

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     1                                           def test_one_state():
     2         2          5.0      2.5      0.0      city_feature_list = []
     3         2  225325902.0 112662951.0     93.8      feature_dict = scrape(state_urls, states)
     4         2          2.0      1.0      0.0      city_feature_list.append(feature_dict)
     5         2   15015246.0 7507623.0      6.2      time.sleep(random.randint(1,10))

In [14]:
data = pd.read_csv("GA.csv")
data

,Unnamed: 0,City:,Elevation,Estimated median house or condo value in 2016:,Females:,Land area:,Males:,Mar. 2016 cost of living index:,Median Income,Population,Population density:
0,0,"Acworth, GA",913 feet,"$179,902",36.5 years,7.08,35.3 years,95.9,"$56,935","21,867 (100% urban, 0% rural).","3,090"
1,1,"Albany, GA",208 feet,"$88,800",36.5 years,55.50,33.9 years,88.5,"$34,565","74,904","1,349"
2,2,Alpharetta,1137 feet,"$408,600",36.5 years,21.40,38.7 years,97.7,"$95,919","65,334","3,058"
3,3,"Americus, GA",420 feet,"$93,360",36.5 years,10.50,29.3 years,81.3,"$26,112","16,283 (98% urban, 2% rural).","1,553"
4,4,Appling,295 feet,"$157,248",33.4 years,140.00,37.1 years,85.0,"$62,641","8,141.",58
5,5,Armuchee,643 feet,"$136,256",33.4 years,95.60,35.3 years,85.2,"$54,779","9,817.",103
6,6,"Athens-Clarke County, GA",NaN,"$170,900",36.5 years,117.80,27.4 years,93.4,"$34,592","123,456","1,048"
7,7,"Athens, GA",758 feet,"$178,040",33.4 years,64.40,24.2 years,101.7,"$30,753","85,116.","1,321"
8,8,"Atlanta, GA",1050 feet,"$262,600",36.5 years,131.70,33.0 years,98.7,"$53,843","472,506","3,586"
9,9,"Auburn, GA",1050 feet,"$124,975",36.5 years,5.34,32.8 years,94.3,"$54,381","7,254 (94% urban, 6% rural).","1,359"
10,10,"Augusta-Richmond County, GA",NaN,"$100,900",36.5 years,302.10,34.0 years,89.9,"$41,273","196,194",649
11,11,"Augusta, GA",414 feet,"$97,735",33.4 years,94.50,34.3 years,93.2,"$38,238","136,381.","1,443"
12,12,Austell,920 feet,"$123,996",36.5 years,5.69,35.3 years,94.7,"$51,392","6,985 (100% urban, 0% rural).","1,228"
13,13,"Bainbridge, GA",135 feet,"$135,826",36.5 years,17.70,34.6 years,84.0,"$26,098","12,496 (88% urban, 12% rural).",706
14,14,"Barnesville, GA",850 feet,"$112,732",36.5 years,5.66,29.3 years,93.0,"$29,603","6,670 (98% urban, 2% rural).","1,179"
15,15,Barretts,249 feet,"$147,470",33.4 years,54.30,28.8 years,92.7,"$54,591","14,663.",270
16,16,Belvedere Park,1000 feet,"$126,550",36.5 years,4.98,38.4 years,95.8,"$42,123","15,152.","3,041"
17,17,"Big Creek, GA",NaN,"$409,732",33.4 years,44.10,33.8 years,102.3,"$133,364","42,663.",966
18,18,Bill Arp,NaN,"$167,675",33.4 years,48.50,34.9 years,99.2,"$72,012","40,565.",836
19,19,Boynton Ridge,NaN,"$158,439",33.4 years,31.30,36.9 years,91.7,"$64,985","13,326.",425
20,20,Braselton,900 feet,"$275,811",36.5 years,7.20,37.9 years,87.0,"$94,745","8,727 (98% urban, 2% rural).","1,211"
21,21,"Bremen, GA",1424 feet,"$156,621",36.5 years,8.88,34.8 years,92.0,"$58,384","6,290 (91% urban, 9% rural).",708
22,22,"Brunswick, GA",10 feet,"$103,379",36.5 years,17.20,36.8 years,89.3,"$25,596","15,903 (100% urban, 0% rural).",924
23,23,"Buford, GA",1187 feet,"$183,032",36.5 years,14.70,35.2 years,95.2,"$55,864","13,392 (99% urban, 1% rural).",909
24,24,"Cairo, GA",258 feet,"$111,966",36.5 years,9.31,36.5 years,83.5,"$26,404","9,806 (93% urban, 7% rural).","1,053"
25,25,"Calhoun, GA",635 feet,"$145,786",36.5 years,11.70,33.3 years,82.0,"$36,897","16,052 (99% urban, 1% rural).","1,378"
26,26,"Campton, GA",902 feet,"$191,572",33.4 years,48.30,35.8 years,88.8,"$63,160","6,920.",143
27,27,Candler-McAfee,NaN,"$102,695",36.5 years,6.98,42.4 years,94.9,"$38,659","23,025.","3,299"
28,28,"Canton, GA",960 feet,"$201,563",36.5 years,14.30,33.2 years,95.4,"$59,274","24,801 (96% urban, 4% rural).","1,739"
29,29,"Carrollton, GA",1110 feet,"$146,093",36.5 years,20.20,25.2 years,94.7,"$41,754","26,690 (99% urban, 1% rural).","1,323"
...,...,...,...,...,...,...,...,...,...,...,...
172,172,"Thomasville, GA",280 feet,"$142,502",36.5 years,14.90,38.9 years,84.1,"$33,234","18,700 (98% urban, 2% rural).","1,258"
173,173,"Thomson, GA",532 feet,"$106,603",36.5 years,3.95,34.3 years,91.4,"$20,580","6,618 (100% urban, 0% rural).","1,674"
174,174,Three Sisters Mountains,NaN,"$178,829",33.4 years,144.20,35.0 years,87.9,"$46,611","12,508.",87
175,175,Tifton,357 feet,"$146,333",36.5 years,8.93,29.4 years,82.8,"$31,155","16,701 (98% urban, 2% rural).","1,870"
176,176,Toccoa,1017 feet,"$95,002",36.5 years,8.31,32.9 years,80.0,"$30,967","8,257 (96% urban, 4% rural).",993
177,177,"Tucker, GA",1117 feet,"$235,644",36.5 years,12.00,40.6 years,96.1,"$68,488","27,581.","2,296"
178,178,Tybee Island-Wilmington,NaN,"$262,856",33.4 years,55.80,38.4 years,100.5,"$81,989","27,669.",496
179,179,"Tyrone, GA",NaN,"$275,767",36.5 years,12.60,37.3 years,95.4,"$86,524","7,135 (97% urban, 3% rural).",564
180,180,"Union City, GA",1020 feet,"$91,346",36.5 years,8.59,31.6 years,94.2,"$38,018","20,427 (98% urban, 2% rural).","2,379"
181,181,Valdosta,229 feet,"$124,711",36.5 years,29.90,28.2 years,89.3,"$33,231","56,595 (99% urban, 1% rural).","1,890"
182,182,"Valley, GA",NaN,"$131,690",33.4 years,94.30,37.5 years,85.2,"$47,499","8,306.",88
183,183,"Vidalia, GA",298 feet,"$120,503",36.5 years,17.30,34.2 years,80.5,"$33,498","10,670 (88% urban, 12% rural).",616
184,184,Villa Rica,1140 feet,"$138,707",36.5 years,12.60,32.8 years,94.2,"$54,644","14,700 (90% urban, 10% rural).","1,171"
185,185,Vinings,930 feet,"$452,715",36.5 years,3.18,34.5 years,99.6,"$77,785","9,734.","3,057"
186,186,Waresboro,145 feet,"$86,635",33.4 years,127.20,35.7 years,82.9,"$41,611","6,724.",53
187,187,Warner Robins,390 feet,"$105,900",36.5 years,22.80,36.0 years,90.8,"$58,771","74,401","3,268"
188,188,Washington-Metasville,NaN,"$101,528",33.4 years,213.50,39.2 years,84.2,"$36,482","6,762.",32
189,189,Waycross,135 feet,"$72,127",36.5 years,11.70,40.1 years,79.4,"$28,295","14,166 (100% urban, 0% rural).","1,212"
190,190,West Dougherty,NaN,"$101,525",33.4 years,217.00,35.5 years,92.0,"$39,694","59,317.",273
191,191,"West Jackson, GA",NaN,"$222,256",33.4 years,73.50,33.5 years,87.6,"$66,042","14,142.",192
192,192,"Westside, GA",NaN,"$128,197",33.4 years,86.80,35.6 years,84.8,"$50,668","15,369.",177
193,193,White-Pine Log,NaN,"$162,250",33.4 years,122.10,34.9 years,87.9,"$55,034","10,476.",86
194,194,Whitemarsh Island,2 feet,"$278,184",36.5 years,5.90,38.4 years,96.1,"$68,272","6,792.","1,152"
195,195,Wilmington Island,2 feet,"$233,250",36.5 years,8.45,44.9 years,94.5,"$80,256","15,138.","1,792"
196,196,Winder,984 feet,"$146,112",36.5 years,10.80,37.5 years,94.8,"$45,212","14,930 (100% urban, 0% rural).","1,378"
197,197,"Winston, GA",1221 feet,"$153,954",33.4 years,38.70,35.6 years,98.3,"$55,924","7,625.",197
198,198,"Woodstock, GA",968 feet,"$222,585",36.5 years,8.81,35.1 years,96.6,"$73,332","27,823 (100% urban, 0% rural).","3,157"
199,199,Yellow River,NaN,"$125,831",33.4 years,49.10,34.8 years,87.1,"$46,985","7,152.",146
200,200,"Yorkville, GA",1360 feet,"$129,830",33.4 years,95.80,35.0 years,87.8,"$46,269","10,575.",110
201,201,Zenith,575 feet,"$103,767",33.4 years,175.60,34.0 years,83.8,"$44,880","8,944.",51

In [96]:
print(city_feature_dicts)

[{'City:': 'Anchorage, AK', 'Population': ' 298,192', 'Males:': '33.0 years', 'Females:': '33.5 years', 'Median Income': ' $85,634 ', 'Estimated median house or condo value in 2016:': ' $320,800 ', 'Elevation': ' 101 feet', 'Land area:': ' 1697.2 ', 'Population density:': ' 176 ', 'Mar. 2016 cost of living index: ': ' 102.6 '}, {'City:': 'Badger, AK', 'Population': ' 19,482.', 'Males:': '31.9 years', 'Females:': '33.5 years', 'Median Income': ' $77,328', 'Estimated median house or condo value in 2016:': ' $226,900\r\n', 'Mar. 2016 cost of living index: ': ' 104.2 '}, {'City:': 'Bethel, AK', 'Population': ' 6,415 (74% urban, 26% rural). ', 'Males:': '29.1 years', 'Females:': '33.5 years', 'Median Income': ' $79,712 ', 'Estimated median house or condo value in 2016:': ' $265,717 ', 'Land area:': ' 43.8 ', 'Population density:': ' 147 ', 'Mar. 2016 cost of living index: ': ' 91.9 '}, {'City:': 'College', 'Population': ' 12,964. ', 'Males:': '29.3 years', 'Females:': '33.5 years', 'Median Income': ' $90,907 ', 'Estimated median house or condo value in 2016:': ' $234,902 ', 'Land area:': ' 18.7 ', 'Population density:': ' 694 ', 'Mar. 2016 cost of living index: ': ' 103.0 '}, {'City:': 'Fairbanks, AK', 'Population': ' 32,469 (100% urban, 0% rural). ', 'Males:': '27.6 years', 'Females:': '33.5 years', 'Median Income': ' $58,973 ', 'Estimated median house or condo value in 2016:': ' $202,792 ', 'Elevation': ' 440 feet', 'Land area:': ' 31.9 ', 'Population density:': ' 1,019 ', 'Mar. 2016 cost of living index: ': ' 104.3 '}, {'City:': 'Juneau, AK', 'Population': ' 32,406 (79% urban, 21% rural). ', 'Males:': '37.4 years', 'Females:': '33.5 years', 'Median Income': ' $89,780 ', 'Estimated median house or condo value in 2016:': ' $343,213 ', 'Elevation': ' 5 feet', 'Land area:': ' 2716.7 ', 'Population density:': ' 12 ', 'Mar. 2016 cost of living index: ': ' 90.2 '}, {'City:': 'Kalifornsky', 'Population': ' 7,850. ', 'Males:': '32.7 years', 'Females:': '33.5 years', 'Median Income': ' $79,841 ', 'Estimated median house or condo value in 2016:': ' $244,884 ', 'Land area:': ' 69.2 ', 'Population density:': ' 113 ', 'Mar. 2016 cost of living index: ': ' 106.6 '}, {'City:': 'Kenai', 'Population': ' 7,568 (64% urban, 36% rural). ', 'Males:': '36.9 years', 'Females:': '33.5 years', 'Median Income': ' $60,307 ', 'Estimated median house or condo value in 2016:': ' $218,115 ', 'Land area:': ' 29.9 ', 'Population density:': ' 253 ', 'Mar. 2016 cost of living index: ': ' 86.1 '}, {'City:': 'Ketchikan', 'Population': ' 8,245 (98% urban, 2% rural). ', 'Males:': '38.0 years', 'Females:': '33.5 years', 'Median Income': ' $55,383 ', 'Estimated median house or condo value in 2016:': ' $242,176 ', 'Land area:': ' 3.37 ', 'Population density:': ' 2,444 ', 'Mar. 2016 cost of living index: ': ' 89.6 '}, {'City:': 'Knik-Fairview', 'Population': ' 14,923. ', 'Males:': '32.9 years', 'Females:': '33.5 years', 'Median Income': ' $80,051 ', 'Estimated median house or condo value in 2016:': ' $244,925 ', 'Land area:': ' 69.8 ', 'Population density:': ' 214 ', 'Mar. 2016 cost of living index: ': ' 107.0 '}, {'City:': 'Kodiak', 'Population': ' 6,304 (94% urban, 6% rural). ', 'Males:': '35.9 years', 'Females:': '33.5 years', 'Median Income': ' $69,383 ', 'Estimated median house or condo value in 2016:': ' $243,739 ', 'Land area:': ' 3.46 ', 'Population density:': ' 1,824 ', 'Mar. 2016 cost of living index: ': ' 88.1 '}, {'City:': 'Lakes', 'Population': ' 8,364. ', 'Males:': '35.8 years', 'Females:': '33.5 years', 'Median Income': ' $79,569 ', 'Estimated median house or condo value in 2016:': ' $266,602 ', 'Land area:': ' 13.6 ', 'Population density:': ' 613 ', 'Mar. 2016 cost of living index: ': ' 101.5 '}, {'City:': 'Meadow Lakes', 'Population': ' 7,570. ', 'Males:': '32.5 years', 'Females:': '33.5 years', 'Median Income': ' $56,871 ', 'Estimated median house or condo value in 2016:': ' $234,087 ', 'Land area:': ' 67.0 ', 'Population density:': ' 113 ', 'Mar. 2016 cost of living index: ': ' 106.7 '}, {'City:': 'Palmer, AK', 'Population': ' 6,515 (100% urban, 0% rural). ', 'Males:': '29.9 years', 'Females:': '33.5 years', 'Median Income': ' $56,021 ', 'Estimated median house or condo value in 2016:': ' $206,247 ', 'Elevation': ' 239 feet', 'Land area:': ' 3.76 ', 'Population density:': ' 1,734 ', 'Mar. 2016 cost of living index: ': ' 101.3 '}, {'City:': 'Sitka', 'Population': ' 8,900 (78% urban, 22% rural). ', 'Males:': '39.0 years', 'Females:': '33.5 years', 'Median Income': ' $72,041 ', 'Estimated median house or condo value in 2016:': ' $355,817 ', 'Land area:': ' 2874.0 ', 'Population density:': ' 3.1 ', 'Mar. 2016 cost of living index: ': ' 91.1 '}, {'City:': 'Steele Creek', 'Population': ' 6,662.', 'Males:': '37.3 years', 'Females:': '33.5 years', 'Median Income': ' $77,328', 'Estimated median house or condo value in 2016:': ' $226,900\r\n', 'Mar. 2016 cost of living index: ': ' 107.0 '}, {'City:': 'Tanaina', 'Population': ' 8,197. ', 'Males:': '29.9 years', 'Females:': '33.5 years', 'Median Income': ' $76,087 ', 'Estimated median house or condo value in 2016:': ' $245,881 ', 'Land area:': ' 27.1 ', 'Population density:': ' 303 ', 'Mar. 2016 cost of living index: ': ' 101.5 '}, {'City:': 'Wasilla', 'Population': ' 8,849 (90% urban, 10% rural). ', 'Males:': '33.3 years', 'Females:': '33.5 years', 'Median Income': ' $57,949 ', 'Estimated median house or condo value in 2016:': ' $246,200 ', 'Elevation': ' 333 feet', 'Land area:': ' 11.7 ', 'Population density:': ' 755 ', 'Mar. 2016 cost of living index: ': ' 101.8 '}, {'City:': 'Abernant', 'Population': ' 7,599.', 'Males:': '34.3 years', 'Females:': '35.8 years', 'Median Income': ' $61,069 ', 'Estimated median house or condo value in 2016:': ' $172,887 ', 'Elevation': ' 466 feet', 'Land area:': ' 51.7 ', 'Population density:': ' 147 ', 'Mar. 2016 cost of living index: ': ' 86.7 '}, {'City:': 'Alabaster', 'Population': ' 31,545 (96% urban, 4% rural). ', 'Males:': '38.0 years', 'Females:': '39.0 years', 'Median Income': ' $74,681 ', 'Estimated median house or condo value in 2016:': ' $169,534 ', 'Elevation': ' 499 feet', 'Land area:': ' 20.5 ', 'Population density:': ' 1,541 ', 'Mar. 2016 cost of living index: ': ' 88.1 '}, {'City:': 'Albertville, AL', 'Population': ' 21,458 (87% urban, 13% rural). ', 'Males:': '32.7 years', 'Females:': '39.0 years', 'Median Income': ' $34,078 ', 'Estimated median house or condo value in 2016:': ' $111,707 ', 'Elevation': ' 1088 feet', 'Land area:': ' 26.0 ', 'Population density:': ' 827 ', 'Mar. 2016 cost of living index: ': ' 81.2 '}, {'City:': 'Alexander City', 'Population': ' 14,849 (62% urban, 38% rural). ', 'Males:': '39.9 years', 'Females:': '39.0 years', 'Median Income': ' $31,462 ', 'Estimated median house or condo value in 2016:': ' $114,260 ', 'Elevation': ' 704 feet', 'Land area:': ' 38.8 ', 'Population density:': ' 383 ', 'Mar. 2016 cost of living index: ': ' 81.2 '}, {'City:': 'Andalusia, AL', 'Population': ' 9,081 (72% urban, 28% rural). ', 'Males:': '41.8 years', 'Females:': '39.0 years', 'Median Income': ' $35,151 ', 'Estimated median house or condo value in 2016:': ' $103,766 ', 'Elevation': ' 348 feet', 'Land area:': ' 18.9 ', 'Population density:': ' 481 ', 'Mar. 2016 cost of living index: ': ' 80.6 '}, {'City:': 'Anniston, AL', 'Population': ' 22,457 (95% urban, 5% rural). ', 'Males:': '42.2 years', 'Females:': '39.0 years', 'Median Income': ' $30,345 ', 'Estimated median house or condo value in 2016:': ' $105,529 ', 'Elevation': ' 740 feet', 'Land area:': ' 45.4 ', 'Population density:': ' 494 ', 'Mar. 2016 cost of living index: ': ' 81.9 '}, {'City:': 'Arab', 'Population': ' 8,284 (83% urban, 17% rural). ', 'Males:': '39.9 years', 'Females:': '39.0 years', 'Median Income': ' $44,880 ', 'Estimated median house or condo value in 2016:': ' $157,042 ', 'Elevation': ' 1087 feet', 'Land area:': ' 12.8 ', 'Population density:': ' 649 ', 'Mar. 2016 cost of living index: ': ' 80.9 '}, {'City:': 'Athens, AL', 'Population': ' 24,522 (87% urban, 13% rural). ', 'Males:': '39.2 years', 'Females:': '39.0 years', 'Median Income': ' $45,702 ', 'Estimated median house or condo value in 2016:': ' $148,204 ', 'Elevation': ' 720 feet', 'Land area:': ' 39.3 ', 'Population density:': ' 624 ', 'Mar. 2016 cost of living index: ': ' 83.0 '}, {'City:': 'Atmore', 'Population': ' 10,006 (88% urban, 12% rural). ', 'Males:': '40.5 years', 'Females:': '39.0 years', 'Median Income': ' $26,341 ', 'Estimated median house or condo value in 2016:': ' $101,859 ', 'Elevation': ' 283 feet', 'Land area:': ' 8.32 ', 'Population density:': ' 1,203 ', 'Mar. 2016 cost of living index: ': ' 81.2 '}, {'City:': 'Auburn, AL', 'Population': ' 60,258 (93% urban, 7% rural). ', 'Males:': '24.3 years', 'Females:': '39.0 years', 'Median Income': ' $41,503 ', 'Estimated median house or condo value in 2016:': ' $236,742 ', 'Elevation': ' 702 feet', 'Land area:': ' 39.1 ', 'Population density:': ' 1,540 ', 'Mar. 2016 cost of living index: ': ' 86.8 '}, {'City:': 'Bay Minette', 'Population': ' 9,049 (92% urban, 8% rural). ', 'Males:': '32.5 years', 'Females:': '39.0 years', 'Median Income': ' $35,720 ', 'Estimated median house or condo value in 2016:': ' $130,211 ', 'Elevation': ' 268 feet', 'Land area:': ' 8.00 ', 'Population density:': ' 1,131 ', 'Mar. 2016 cost of living index: ': ' 82.5 '}, {'City:': 'Beauregard-Marvyn', 'Population': ' 10,469.', 'Males:': '34.6 years', 'Females:': '35.8 years', 'Median Income': ' $61,764 ', 'Estimated median house or condo value in 2016:': ' $155,182 ', 'Land area:': ' 130.9 ', 'Population density:': ' 80 ', 'Mar. 2016 cost of living index: ': ' 87.2 '}, {'City:': 'Bessemer, AL', 'Population': ' 26,949 (94% urban, 6% rural). ', 'Males:': '40.6 years', 'Females:': '39.0 years', 'Median Income': ' $32,605 ', 'Estimated median house or condo value in 2016:': ' $88,988 ', 'Elevation': ' 510 feet', 'Land area:': ' 40.7 ', 'Population density:': ' 662 ', 'Mar. 2016 cost of living index: ': ' 87.3 '}, {'City:': 'Beulah, AL', 'Population': ' 6,187.', 'Males:': '33.7 years', 'Females:': '35.8 years', 'Median Income': ' $61,019 ', 'Estimated median house or condo value in 2016:': ' $131,102 ', 'Land area:': ' 70.3 ', 'Population density:': ' 88 ', 'Mar. 2016 cost of living index: ': ' 86.0 '}, {'City:': 'Big Sandy-Duncanville', 'Population': ' 8,894.', 'Males:': '33.2 years', 'Females:': '35.8 years', 'Median Income': ' $54,699 ', 'Estimated median house or condo value in 2016:': ' $144,308 ', 'Land area:': ' 139.3 ', 'Population density:': ' 64 ', 'Mar. 2016 cost of living index: ': ' 85.6 '}, {'City:': 'Birmingham, AL', 'Population': ' 213,434', 'Males:': '36.0 years', 'Females:': '39.0 years', 'Median Income': ' $36,241 ', 'Estimated median house or condo value in 2016:': ' $88,500 ', 'Elevation': ' 600 feet', 'Land area:': ' 149.9 ', 'Population density:': ' 1,424 ', 'Mar. 2016 cost of living index: ': ' 87.2 '}, {'City:': 'Boaz, AL', 'Population': ' 9,689 (88% urban, 12% rural). ', 'Males:': '34.7 years', 'Females:': '39.0 years', 'Median Income': ' $41,827 ', 'Estimated median house or condo value in 2016:': ' $113,180 ', 'Elevation': ' 1086 feet', 'Land area:': ' 12.2 ', 'Population density:': ' 794 ', 'Mar. 2016 cost of living index: ': ' 81.2 '}, {'City:': 'Bremen, AL', 'Population': ' 8,517.', 'Males:': '37.3 years', 'Females:': '35.8 years', 'Median Income': ' $41,828 ', 'Estimated median house or condo value in 2016:': ' $121,783 ', 'Elevation': ' 567 feet', 'Land area:': ' 148.2 ', 'Population density:': ' 57 ', 'Mar. 2016 cost of living index: ': ' 85.8 '}, {'City:': 'Anchorage, AK', 'Population': ' 298,192', 'Males:': '33.0 years', 'Females:': '33.5 years', 'Median Income': ' $85,634 ', 'Estimated median house or condo value in 2016:': ' $320,800 ', 'Elevation': ' 101 feet', 'Land area:': ' 1697.2 ', 'Population density:': ' 176 ', 'Mar. 2016 cost of living index: ': ' 102.6 '}, {'City:': 'Badger, AK', 'Population': ' 19,482.', 'Males:': '31.9 years', 'Females:': '33.5 years', 'Median Income': ' $77,328', 'Estimated median house or condo value in 2016:': ' $226,900\r\n', 'Mar. 2016 cost of living index: ': ' 104.2 '}, {'City:': 'Bethel, AK', 'Population': ' 6,415 (74% urban, 26% rural). ', 'Males:': '29.1 years', 'Females:': '33.5 years', 'Median Income': ' $79,712 ', 'Estimated median house or condo value in 2016:': ' $265,717 ', 'Land area:': ' 43.8 ', 'Population density:': ' 147 ', 'Mar. 2016 cost of living index: ': ' 91.9 '}, {'City:': 'College', 'Population': ' 12,964. ', 'Males:': '29.3 years', 'Females:': '33.5 years', 'Median Income': ' $90,907 ', 'Estimated median house or condo value in 2016:': ' $234,902 ', 'Land area:': ' 18.7 ', 'Population density:': ' 694 ', 'Mar. 2016 cost of living index: ': ' 103.0 '}, {'City:': 'Fairbanks, AK', 'Population': ' 32,469 (100% urban, 0% rural). ', 'Males:': '27.6 years', 'Females:': '33.5 years', 'Median Income': ' $58,973 ', 'Estimated median house or condo value in 2016:': ' $202,792 ', 'Elevation': ' 440 feet', 'Land area:': ' 31.9 ', 'Population density:': ' 1,019 ', 'Mar. 2016 cost of living index: ': ' 104.3 '}, {'City:': 'Juneau, AK', 'Population': ' 32,406 (79% urban, 21% rural). ', 'Males:': '37.4 years', 'Females:': '33.5 years', 'Median Income': ' $89,780 ', 'Estimated median house or condo value in 2016:': ' $343,213 ', 'Elevation': ' 5 feet', 'Land area:': ' 2716.7 ', 'Population density:': ' 12 ', 'Mar. 2016 cost of living index: ': ' 90.2 '}, {'City:': 'Kalifornsky', 'Population': ' 7,850. ', 'Males:': '32.7 years', 'Females:': '33.5 years', 'Median Income': ' $79,841 ', 'Estimated median house or condo value in 2016:': ' $244,884 ', 'Land area:': ' 69.2 ', 'Population density:': ' 113 ', 'Mar. 2016 cost of living index: ': ' 106.6 '}, {'City:': 'Kenai', 'Population': ' 7,568 (64% urban, 36% rural). ', 'Males:': '36.9 years', 'Females:': '33.5 years', 'Median Income': ' $60,307 ', 'Estimated median house or condo value in 2016:': ' $218,115 ', 'Land area:': ' 29.9 ', 'Population density:': ' 253 ', 'Mar. 2016 cost of living index: ': ' 86.1 '}, {'City:': 'Ketchikan', 'Population': ' 8,245 (98% urban, 2% rural). ', 'Males:': '38.0 years', 'Females:': '33.5 years', 'Median Income': ' $55,383 ', 'Estimated median house or condo value in 2016:': ' $242,176 ', 'Land area:': ' 3.37 ', 'Population density:': ' 2,444 ', 'Mar. 2016 cost of living index: ': ' 89.6 '}, {'City:': 'Knik-Fairview', 'Population': ' 14,923. ', 'Males:': '32.9 years', 'Females:': '33.5 years', 'Median Income': ' $80,051 ', 'Estimated median house or condo value in 2016:': ' $244,925 ', 'Land area:': ' 69.8 ', 'Population density:': ' 214 ', 'Mar. 2016 cost of living index: ': ' 107.0 '}, {'City:': 'Kodiak', 'Population': ' 6,304 (94% urban, 6% rural). ', 'Males:': '35.9 years', 'Females:': '33.5 years', 'Median Income': ' $69,383 ', 'Estimated median house or condo value in 2016:': ' $243,739 ', 'Land area:': ' 3.46 ', 'Population density:': ' 1,824 ', 'Mar. 2016 cost of living index: ': ' 88.1 '}, {'City:': 'Lakes', 'Population': ' 8,364. ', 'Males:': '35.8 years', 'Females:': '33.5 years', 'Median Income': ' $79,569 ', 'Estimated median house or condo value in 2016:': ' $266,602 ', 'Land area:': ' 13.6 ', 'Population density:': ' 613 ', 'Mar. 2016 cost of living index: ': ' 101.5 '}, {'City:': 'Meadow Lakes', 'Population': ' 7,570. ', 'Males:': '32.5 years', 'Females:': '33.5 years', 'Median Income': ' $56,871 ', 'Estimated median house or condo value in 2016:': ' $234,087 ', 'Land area:': ' 67.0 ', 'Population density:': ' 113 ', 'Mar. 2016 cost of living index: ': ' 106.7 '}, {'City:': 'Palmer, AK', 'Population': ' 6,515 (100% urban, 0% rural). ', 'Males:': '29.9 years', 'Females:': '33.5 years', 'Median Income': ' $56,021 ', 'Estimated median house or condo value in 2016:': ' $206,247 ', 'Elevation': ' 239 feet', 'Land area:': ' 3.76 ', 'Population density:': ' 1,734 ', 'Mar. 2016 cost of living index: ': ' 101.3 '}, {'City:': 'Sitka', 'Population': ' 8,900 (78% urban, 22% rural). ', 'Males:': '39.0 years', 'Females:': '33.5 years', 'Median Income': ' $72,041 ', 'Estimated median house or condo value in 2016:': ' $355,817 ', 'Land area:': ' 2874.0 ', 'Population density:': ' 3.1 ', 'Mar. 2016 cost of living index: ': ' 91.1 '}, {'City:': 'Steele Creek', 'Population': ' 6,662.', 'Males:': '37.3 years', 'Females:': '33.5 years', 'Median Income': ' $77,328', 'Estimated median house or condo value in 2016:': ' $226,900\r\n', 'Mar. 2016 cost of living index: ': ' 107.0 '}, {'City:': 'Tanaina', 'Population': ' 8,197. ', 'Males:': '29.9 years', 'Females:': '33.5 years', 'Median Income': ' $76,087 ', 'Estimated median house or condo value in 2016:': ' $245,881 ', 'Land area:': ' 27.1 ', 'Population density:': ' 303 ', 'Mar. 2016 cost of living index: ': ' 101.5 '}, {'City:': 'Wasilla', 'Population': ' 8,849 (90% urban, 10% rural). ', 'Males:': '33.3 years', 'Females:': '33.5 years', 'Median Income': ' $57,949 ', 'Estimated median house or condo value in 2016:': ' $246,200 ', 'Elevation': ' 333 feet', 'Land area:': ' 11.7 ', 'Population density:': ' 755 ', 'Mar. 2016 cost of living index: ': ' 101.8 '}, {'City:': 'Abernant', 'Population': ' 7,599.', 'Males:': '34.3 years', 'Females:': '35.8 years', 'Median Income': ' $61,069 ', 'Estimated median house or condo value in 2016:': ' $172,887 ', 'Elevation': ' 466 feet', 'Land area:': ' 51.7 ', 'Population density:': ' 147 ', 'Mar. 2016 cost of living index: ': ' 86.7 '}, {'City:': 'Alabaster', 'Population': ' 31,545 (96% urban, 4% rural). ', 'Males:': '38.0 years', 'Females:': '39.0 years', 'Median Income': ' $74,681 ', 'Estimated median house or condo value in 2016:': ' $169,534 ', 'Elevation': ' 499 feet', 'Land area:': ' 20.5 ', 'Population density:': ' 1,541 ', 'Mar. 2016 cost of living index: ': ' 88.1 '}, {'City:': 'Albertville, AL', 'Population': ' 21,458 (87% urban, 13% rural). ', 'Males:': '32.7 years', 'Females:': '39.0 years', 'Median Income': ' $34,078 ', 'Estimated median house or condo value in 2016:': ' $111,707 ', 'Elevation': ' 1088 feet', 'Land area:': ' 26.0 ', 'Population density:': ' 827 ', 'Mar. 2016 cost of living index: ': ' 81.2 '}, {'City:': 'Alexander City', 'Population': ' 14,849 (62% urban, 38% rural). ', 'Males:': '39.9 years', 'Females:': '39.0 years', 'Median Income': ' $31,462 ', 'Estimated median house or condo value in 2016:': ' $114,260 ', 'Elevation': ' 704 feet', 'Land area:': ' 38.8 ', 'Population density:': ' 383 ', 'Mar. 2016 cost of living index: ': ' 81.2 '}, {'City:': 'Andalusia, AL', 'Population': ' 9,081 (72% urban, 28% rural). ', 'Males:': '41.8 years', 'Females:': '39.0 years', 'Median Income': ' $35,151 ', 'Estimated median house or condo value in 2016:': ' $103,766 ', 'Elevation': ' 348 feet', 'Land area:': ' 18.9 ', 'Population density:': ' 481 ', 'Mar. 2016 cost of living index: ': ' 80.6 '}, {'City:': 'Anniston, AL', 'Population': ' 22,457 (95% urban, 5% rural). ', 'Males:': '42.2 years', 'Females:': '39.0 years', 'Median Income': ' $30,345 ', 'Estimated median house or condo value in 2016:': ' $105,529 ', 'Elevation': ' 740 feet', 'Land area:': ' 45.4 ', 'Population density:': ' 494 ', 'Mar. 2016 cost of living index: ': ' 81.9 '}, {'City:': 'Arab', 'Population': ' 8,284 (83% urban, 17% rural). ', 'Males:': '39.9 years', 'Females:': '39.0 years', 'Median Income': ' $44,880 ', 'Estimated median house or condo value in 2016:': ' $157,042 ', 'Elevation': ' 1087 feet', 'Land area:': ' 12.8 ', 'Population density:': ' 649 ', 'Mar. 2016 cost of living index: ': ' 80.9 '}, {'City:': 'Athens, AL', 'Population': ' 24,522 (87% urban, 13% rural). ', 'Males:': '39.2 years', 'Females:': '39.0 years', 'Median Income': ' $45,702 ', 'Estimated median house or condo value in 2016:': ' $148,204 ', 'Elevation': ' 720 feet', 'Land area:': ' 39.3 ', 'Population density:': ' 624 ', 'Mar. 2016 cost of living index: ': ' 83.0 '}, {'City:': 'Atmore', 'Populati